@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.body-login {
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container-login {
  width: 360px;
  height: 600px;
  background-color: rgb(43, 40, 40);
  opacity: 0.8;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  box-shadow: 10px 10px 40px grey;
}

.header-login {
  font-size: 40px;
  font-weight: 200px;
  margin-top: 125px;
  margin-bottom: 60px;
}
.tbox-login {
  width: 260px;
  height: 40px;
  background: #f1f1f1b3;
  border-radius: 10px;
  margin: 10px auto;
  transition: 0.5s all;
}
.tbox-login:focus-within {
  border-radius: 24px;
  width: 290px;
}
.btn-login {
  width: 260px;
  height: 40px;
  background: #3498db;
  border-radius: 10px;
  margin: 14px auto;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.4s all;
}
.btn-login:hover {
  background: #2f87c2;
}
.btn-login:disabled {
  background-color: #585656;
}
.l1-login {
  display: block;
  width: 260px;
  padding: 10px 0;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: -10px auto;
  transition: 0.5s all;
}
.l1-login:hover {
  background: #00000040;
  border-radius: 24px;
  text-decoration: none;
}

.l2-login:hover {
  background: #00000040;
  border-radius: 24px;
  text-decoration: none;
}
.l2-login {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  padding: 10px 0px;
  margin: -10px auto;
  text-decoration: none;
  transition: 0.4s all;
  text-align: center;
  color: #3498db;
}
.wrong-login-visible {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 260px;
  padding: 5px 0;
  text-decoration: none;
  color: red;
  text-align: center;
  margin: 0px auto;
  transition: 0.5s all;
}
.wrong-login-hidden {
  visibility: hidden;
  opacity: 0;
  display: block;
  width: 260px;
  padding: 5px 0;
  text-decoration: none;
  color: red;
  text-align: center;
  margin: 0px auto;
  transition: 0.5s all;
}
